.house-box{
    width: 30%;
    height: 30%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    margin: 10px;
    border-radius: 2%;
}
.center{
    justify-content: center;
    align-items: center;
}

.house{
    width: 90%;
    height: 90%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    margin: 10px;
}

.text{
    margin: non ;
}